{% extends "network/layout.html" %}

{% block body %}
    <br>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="max-w-sm mx-auto">
        {% csrf_token %}
        <div class="mb-5">
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 ">Your username:</label>
            <input type="text" id="username" name="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="Username" autofocus required />
        </div>
        <div class="mb-5">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Your password:</label>
          <input type="password" id="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="Password" required />
        </div>
        <div class="flex items-start mb-5">
            <label class="ms-2 text-sm font-medium text-gray-900">Don't have an account? <a class="text-blue-600 hover:underline dark:text-blue-500" href="{% url 'register' %}">Register here.</a></label>
        </div>
        <button type="submit" value="Login" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ">Log in</button>
      </form>

{% endblock %}